GMAIL_CLIENT_ID=glb9pkfqnf14d1dppuunpfi2jdgrnb.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=krBq0WP2uGOCSPX-2US9HvV3_E01KFtzm3
GMAIL_REFRESH_TOKEN=1//04KJQse7Ea8iACgYIARAAGAQSNwF-L9IrmMUhW4fW78a962oxqMdOrjH09eOcYIARAAGAQSNwF-L9IrmMUhW4fW78aRu5EvQof2icBoXl7Rv0sMu2JrFpLaOljbEmOeKU
GMAIL_FROM_ADDRESS=ImJacksBack@gmail.com
PORT=8787

